.container{
    display:flex;
}

.div1{
    display:flex;
    justify-content: center;
    background-color: lightpink;
    width:100px;
}

.div2{
    background-color: lightblue;
    width:200px;
}

.item1-txt{
    background-color: black;
    color:white;
}