.container{
    height:3000px;
}
.close-button{
    position:absolute;
    top:10px;
    right:10px;
    color:white;
    background-color: black;
    border:none;
    padding:8px 11px;
    border-radius: 16px;

}