.full-page{
    height:3000px;
}
.close-button{
    position:absolute;
    top:-15px;
    left:-15px;
    color:white;
    background-color: black;
    border:none;
    padding:8px 11px;
    border-radius: 16px;

}
.right-bottom-container{
    position:fixed;
    bottom: 15px;
    right:10px;
    width:320px;
    height:180px;
    background-color: gray;
}

.timestamp{
    font-family: Roboto,Arial;
    font-weight: 500px;
    font-size:12px;
    color:white;
    background-color: black;
    position:absolute;
    bottom:5px;
    right:5px;
    padding:4px 5px;
}