.container{
    padding:12px 14px;
    width:345px;
    background-color: rgb(36, 36, 36);
    
}

.product-install{
    font-family: Arial;
    margin-top:6px;
    color:white;
    font-weight:bold;
    font-size: 25px;
    margin-bottom:8px;
}

.product-desc{
    font-family: Arial;
    margin-top:0;
    color:gray;
    font-size:15px;
}


